/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$seashell: #faf5f1;
$ruddy-bronze: #421908;
$champagne-pink: #f0d7d1;
$tea-green: #d2ecc6;
$olive: #7e8e76;
$metal: #90817d; 
$cobalt: #2962ff;
$rose-bronze: #a87f6e;
$champagne-light: #c0aca7;
$tea-green-dark: #a8bd9e;  

