/* =============
    Base
============= */

body { 
background-color: $seashell;
}

.container {
    display:grid;
    grid-template-columns: 18px auto 18px;
    grid-template-areas: 
    ".content."
    ;

    .content{
        grid-area:content;
    }

}

