/* =============
    Typography
============= */

    body{
        font-family: 'Montserrat', sans-serif; 
    }

    p{  
        color: $ruddy-bronze;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .delivery-time {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .pick-up-time {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;

    }


    h1 {
        font-family: 'BenchNine', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 43px;
        letter-spacing: 0.5em;
        text-shadow: 0.51762px 0.51762px 2.07048px rgba(66, 25, 8, 0.4), -0.51762px -0.51762px 2.07048px rgba(66, 25, 8, 0.4);

        @include md{
            font-style: normal;
            font-weight: 700;
            font-size: 62.3615px;
            line-height: 83px;
        }


        @include lg{
            font-style: normal;
            font-weight: 700;
            font-size: 95.7049px;
            line-height: 128px;
        }


        @include xl{
            font-style: normal;
            font-weight: 700;
            font-size: 95.7049px;
            line-height: 128px;
        }
    }

    .shop-heading{
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.6em;

        @include md{
            font-size: 72px;
            line-height: 95.98px;
        }

        @include lg{
            font-size: 128px;
            line-height: 170.62px;
        }
    }

    .nav-links a {
     color: $ruddy-bronze;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 600px;
     line-height: 19.5px; 

    }

    a.delivery-link:link {
        color: $rose-bronze;
        text-decoration-line: underline;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600px;
        font-size: 24px;
        line-height: 28px; 
    }

    a.delivery-link:visited {
        color: $rose-bronze;
        text-decoration-line: underline;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600px;
        font-size: 24px;
        line-height: 28px;     
    }



    h2 {
        color: $ruddy-bronze;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;  
        font-size:  32px;
        text-align: center;

        @include lg{
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 48px;
            text-align: center;
        }

        @include xl{
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 48px;
            text-align: center;
        }
    }

    .shop-h2 {
        color: $ruddy-bronze;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        text-align: left;
    }

    .product-name {
        color: $ruddy-bronze;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;

    }

    .price  {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
    }

    .amount {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
    }


    h3{
        color: $ruddy-bronze;
        font-style: normal;
        font-weight: 400;  
        font-size:  24px;
        line-height: 29px;

        @include lg{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        }


        @include xl{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            text-align: center;
            }
    }

    .service-info{
        color: $ruddy-bronze;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        @include lg{
            text-align: center;
        }


        @include xl{
            text-align: center;
        }
    }

    a.cafe-email:link{
        color: $cobalt;
        text-decoration: none;
    }

    a.cafe-email:visited{
        color: $cobalt;
        text-decoration: none;
    }

    .open{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;  
    }

    .email{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;  
    }


    a.hello-email:link{
        color: $cobalt;
        text-decoration: none;
    }

    a.hello-email:visited{
        color: $cobalt;
        text-decoration: none;
    }

    a.learn-more:link{
        color: $ruddy-bronze;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
    }

    a.learn-more:visited{
        color: $ruddy-bronze;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
    }

    h4{
        
        left: 8.67%;
        right: 8.67%;
        top: 20.78%;
        bottom: 62.01%;
        color: $ruddy-bronze;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

        @include md{ 
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
        }
        
        @include lg{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 68px;
        }

    }

    .newsletter-describe {
        color: $ruddy-bronze;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        @include md{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }

        @include lg{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
        }


    }

    h5 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12.625px;
        line-height: 17px;
        letter-spacing: 0.85em;
        text-shadow: 0.51762px 0.51762px 2.07048px rgba(66, 25, 8, 0.4), -0.51762px -0.51762px 2.07048px rgba(66, 25, 8, 0.4);

        @include md{
            font-style: normal;
            font-weight: 600;
            font-size: 24.6023px;
            line-height: 33px;
        }

        @include lg{
            font-style: normal;
            font-weight: 600;
            font-size: 37.7566px;
            line-height: 50px;
        }

        @include xl{
            font-style: normal;
            font-weight: 600;
            font-size: 37.7566px;
            line-height: 50px;
        }
    }

    .mission {
        color: $ruddy-bronze;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;  
        line-height: 29px;
        text-align: center;
    }

    .about {
        color: $ruddy-bronze;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    
