/* =============
    Typography
============= */

#header1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 75px;
    line-height: 50px;
    margin-bottom: 20px;
    
}


h2 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
    margin-top: 10px;
    
}

