/* =============
    carousel
============= */
.carousel{
    
    .carousel-graphic{
        display: none;
        @include md{
            display: block;
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;
            height: 328px;
        }

        @include lg{
            height: 487px; 
        }
    }

    .carousel-bullets{
        display: none;
        @include md{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


