/* =============
    hero
============= */

.hero-image {
    background-image: url("../img/main-mtn.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;

    @include md{
        height: 70vh;
    }


    @include lg{
        height: 80vh;
    }

    .hero-text {
        display: flex;   
        // flex-direction: column;
        align-items: center;   
        justify-content: center;
        text-align: center;
        height: 100%;
        // padding-top: 175px;
        // margin-left: 275px;
        // margin-right: 275px;
        // position: relative;
        color: var(--white);


}

}
