#rk-logo-container{
    display: grid;
    margin-top: 150px;
    grid-template-columns: 20px auto 20px;
    grid-template-areas: ". logo .";

    @include lg{
        grid-template-columns:auto 750px auto;
    }

    >div{
        grid-area: logo;
    }
}