#wagner-logo-container{
    display: grid;
    margin-top: 150px;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". logo .";

    @include lg{
        grid-template-columns:auto 650px auto;
    }

    >div{
        grid-area: logo;
    }
}