/* =============
    newsletter
============= */

.newsletter {
    background-color: $tea-green;
    border-radius: 0px 0px 16px 16px;
    margin-top: 140px;
    width: 100%;
    height: 205px;

    @include md{
        height: 176px;
    }

    @include lg{
        height: 308px;
        width: 1070px;
    }

    .newsletter-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include md{
        margin-top: 45px;
    }

    .newsletter-describe{
        margin-top: -20px;

        @include md{
            margin-top: -40px;
        }

    
    }
    }
   
    

    @include md{
        display: block;
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
        width: 596px;
        height: 176px;
    }

    @include lg{
        display: block;
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
        width: 1070px;
        height: 308px;
    }
}



