/* =============
    Buttons
============= */

#blue-btn {
    background-color: var(--blue);
    border-radius: 8px 8px 8px 8px;
    border: none;
    color: var(--white);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    padding: 8px 20px;
    width: 200px;
    height: 50px;
    cursor: pointer;

    @include md{
        width: rem-calc(250);
        height: rem-calc(75);
        font-size: rem-calc(22);  

    }
}