/* =============
    Buttons
============= */

#blue-btn {
    background-color: var(--blue);
    border-radius: 8px 8px 8px 8px;
    border: none;
    color: var(--white);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    padding: 8px 20px;
    width: 250px;
    height: 75px;
    cursor: pointer;
}