/* =============
    Buttons
============= */
.button-enter{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    line-height: 20px;
    text-align: center;
    color: $seashell;
    border-radius: 0px 0px 8px 8px;
    border: none;
    background-color: $olive;
    width: 80.37px;
    height: 29.95px;  
}

.menu-button{
    background-color: $seashell;
    border: none;
}

.search-button{
    background-color: $seashell;
    border: none;
}


.cart-button{
    background-color: $seashell;
    border: none;
}

.category{
    background-color: $seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px;
    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid $metal;
    color: $champagne-light;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    width: 190px;
    height: 37px;
    margin-left: 16px;
    margin-top: 80px;

    @include md{
        width: 290px;
        margin-left: 100px;
        margin-bottom: 50px; 
    }
}

.quantity{
    background-color: $seashell;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid $ruddy-bronze;
    color: $ruddy-bronze;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 87px;
    height: 35px;
}

.button-shop{
    background-color: $tea-green-dark;
    border-radius: 0px 0px 8px 8px;
    border: none;
    color: $seashell;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding: 8px 20px;
    width: 190px;
    height: 45px;
}