/* =============
    Forms
============= */

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
	box-shadow: none;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus{
	box-shadow: none;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-appearance: none;
}

input[type=text]{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 8px 16px;
    gap: 10px;
    background: $seashell;
    text-decoration: none;
    width: 263.03px;
    height: 29.95px; 
    box-sizing: border-box;
    border: 1.5px solid $metal;
    border-radius: 0px 0px 8px 8px;
    border: none;
}


form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    padding: 16px;
    background: $seashell;
    text-decoration: none;
    width: 263.03px;
    height: 29.95px;
    box-sizing: border-box;
    border: 1.5px solid $metal;
    border-radius: 0px 0px 8px 8px;
    border: none;

    @include md{
        width: 357px;
        gap: 150px;
        padding: 16px;
        margin-right: 52px;
    }

    @include  lg{
        width: 613px;
        gap: 420px;
        padding: 16px;
        margin-right: 100px;
    }
    
}
